eBriefing/Web References/com.yournamespace.ebriefingweb/Core_2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="eBriefing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="eBriefing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="eBriefing">
      <s:element name="GetBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksResult" type="tns:ArrayOfGetBooksReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetBooksReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetBooksReturn" nillable="true" type="tns:GetBooksReturn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetBooksReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChapterCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SmallImageURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LargeImageURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateAdded" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChaptersInBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChaptersInBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChaptersInBookResult" type="tns:ArrayOfGetChaptersInBookReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetChaptersInBookReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetChaptersInBookReturn" nillable="true" type="tns:GetChaptersInBookReturn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetChaptersInBookReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SmallImageURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LargeImageURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageVersion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstPageID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPagesInBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPagesInBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPagesInBookResult" type="tns:ArrayOfGetPagesInBookReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetPagesInBookReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetPagesInBookReturn" nillable="true" type="tns:GetPagesInBookReturn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetPagesInBookReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MD5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="GetBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="GetChaptersInBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetChaptersInBook" />
  </wsdl:message>
  <wsdl:message name="GetChaptersInBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetChaptersInBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetPagesInBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetPagesInBook" />
  </wsdl:message>
  <wsdl:message name="GetPagesInBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetPagesInBookResponse" />
  </wsdl:message>
  <wsdl:portType name="Core_2Soap">
    <wsdl:operation name="GetBooks">
      <wsdl:input message="tns:GetBooksSoapIn" />
      <wsdl:output message="tns:GetBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChaptersInBook">
      <wsdl:input message="tns:GetChaptersInBookSoapIn" />
      <wsdl:output message="tns:GetChaptersInBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPagesInBook">
      <wsdl:input message="tns:GetPagesInBookSoapIn" />
      <wsdl:output message="tns:GetPagesInBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Core_2Soap" type="tns:Core_2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="eBriefing/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChaptersInBook">
      <soap:operation soapAction="eBriefing/GetChaptersInBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagesInBook">
      <soap:operation soapAction="eBriefing/GetPagesInBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Core_2Soap12" type="tns:Core_2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBooks">
      <soap12:operation soapAction="eBriefing/GetBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChaptersInBook">
      <soap12:operation soapAction="eBriefing/GetChaptersInBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagesInBook">
      <soap12:operation soapAction="eBriefing/GetPagesInBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core_2">
    <wsdl:port name="Core_2Soap" binding="tns:Core_2Soap">
      <soap:address location="http://yourebreifingSharepointInstall/ReaderServices/Core_2.asmx" />
    </wsdl:port>
    <wsdl:port name="Core_2Soap12" binding="tns:Core_2Soap12">
      <soap12:address location="http://yourebreifingSharepointInstall/ReaderServices/Core_2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>